@tailwind base;
@tailwind components;
@tailwind utilities;

.product-description {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Adjust the number of lines you want to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}